<h2>Perfil de Usuario</h2>
<hr>

<p><strong>Nombre:</strong> {{first_name}}</p>
<p><strong>Apellido:</strong> {{last_name}}</p>
<p><strong>Email:</strong> {{email}}</p>
<p><strong>Edad:</strong> {{age}}</p>
<p><strong>Rol:</strong> {{role}}</p>

{{>menu}}
